:root {
  --primary1: #0073e6;
  --primary3: #3595f4;
  --secondary1: #1c4595;
  --secondary2: #06617e;
  --neutral1: #4c515a;
  --neutral2: #dce0e8;
  --bg-color: #fafafa;
  --text-color: #1b1d21;
  --white: #ffffff;
  --black: #000000;
}

body {
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  line-height: 1.4;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: 900;
}

h2 {
  font-size: 40px;
  font-weight: 900;
}

h3 {
  font-size: 30px;
  font-weight: 900;
  line-height: 2;
}

h4 {
  font-size: 26px;
  font-weight: 700;
}

p {
  padding-bottom: 24px;
}

p,
a {
  font-size: 22px;
  font-weight: 400;
}

a.body-link {
  font-size: 18px;
}

a.back-to-top {
  display: block;
  width: 139px;
  margin: 0 auto;
  padding: 24px 0;
}

a.light {
  color: var(--neutral2);
}

a.light:hover {
  color: var(--white);
}

a.dark {
  color: var(--neutral1);
}

a.dark:hover {
  color: var(--black);
}

.btn {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 12px 16px;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 24px 0px;
}

.btn-primary {
  background: var(--primary1);
  color: var(--bg-color);
}

.btn-primary:hover {
  background: var(--primary3);
}

.btn-secondary {
  background: var(--bg-color);
  color: var(--text-color);
}

.btn-secondary:hover {
  background: var(--white);
}

.section-header {
  padding-top: 24px;
}

header {
  background: var(--bg-color);
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  max-width: 100%;
}
/* navigation */

ul.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

li.nav-item {
  display: inline;
  margin: 12px 24px 24px 48px;
}

li.nav-item a {
  text-transform: uppercase;
  font-size: 16px;
  color: var(--neutral1);
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 1.5px;
  margin: 12px 0px;
}

li.nav-item a:hover {
  color: var(--black);
}

/* hero section */

#hero {
  width: 100%;
  /* height: 45vh; */
}

.hero-text {
  width: 55%;
  margin: 0 auto 24px auto;
  line-height: 1.2;
}

#hero a {
  display: block;
  width: 153px;
  margin: 0 auto;
}

.down-arrow {
  display: block;
  margin: 0 auto 24px auto;
}

/* projects section */

.project {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 24px;
}

.project-light {
  background: var(--neutral2);
}

.project-dark {
  background: var(--secondary1);
  color: var(--bg-color);
  flex-direction: row-reverse;
}

.project-tile {
  width: 33%;
  margin: 24px 60px;
}

.img-center {
  display: block;
  margin: 0 auto;
}

/* experience section */

#experience {
  background: var(--bg-color);
}

#experience p {
  padding: 0;
}

.exp-content {
  width: 60%;
  margin: 0 auto;
}
.job-title {
  font-size: 20px;
  font-weight: 700;
  float: left;
}

.company {
  font-size: 20px;
  font-weight: 700;
  float: right;
}

.dates {
  font-size: 20px;
  font-style: italic;
  clear: right;
}

.job-description {
  font-size: 20px;
  margin-top: 24px;
}

.job-duties {
  list-style-type: disc;
  list-style-position: outside;
  font-size: 20px;
  margin: 24px 48px;
}

.exp-button {
  display: block;
  width: 400px;
  margin: 0 auto;
}

/* about section */

#about {
  background: var(--secondary2);
  color: var(--bg-color);
}

.about-content {
  margin: 24px auto 0 auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-photo {
  max-width: none;
}

.about-content div {
  padding: 0 24px;
}

/* contact section*/

#contact {
  background: var(--bg-color);
}

.email {
  margin: 72px auto;
}

.social-links {
  text-align: center;
}

/* footer section */

footer {
  background: var(--neutral1);
  text-align: center;
}

footer a {
  color: var(--bg-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--neutral2);
  text-decoration: none;
}

.footer-nav {
  margin: 24px 0;
}

.footer-nav a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1.5px;
  list-style: none;
  line-height: 4;
}

.copyright {
  font-size: 16px;
  color: var(--bg-color);
}

/* mobile and tablet version */

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 32px;
    font-weight: 900;
  }

  h2 {
    font-size: 28px;
    font-weight: 900;
  }

  h3 {
    font-size: 24px;
    font-weight: 900;
  }

  h4 {
    font-size: 20px;
    font-weight: 700;
  }

  p,
  a {
    font-size: 18px;
    font-weight: 400;
  }

  a.body-link {
    font-size: 16px;
  }

  .btn {
    font-size: 18px;
  }

  .section-header {
    padding-top: 12px;
  }

  header {
    padding: 16px;
  }

  /* navigation */
  nav {
    order: 2;
  }

  ul.navigation {
    flex-direction: column;
    margin: 0 0 24px 0;
  }

  li.nav-item {
    display: inline;
    margin: 12px 0px 0px 0px;
  }

  /* hero section */

  .hero-text {
    width: 90%;
  }

  #hero a {
    width: 131px;
  }

  .down-arrow {
    order: 3;
  }

  /* projects section */

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 24px;
  }

  .project-dark {
    flex-direction: column;
  }

  .project-tile {
    width: 90%;
    margin: 0px auto;
  }

  .img-center {
    display: block;
    margin: 0 auto;
  }

  /* experience section */

  .exp-content {
    width: 90%;
    margin: 0 auto;
  }
  .job-title {
    font-size: 18px;
  }

  .company {
    font-size: 18px;
  }

  .dates {
    font-size: 18px;
  }

  .job-description {
    font-size: 18px;
    margin-top: 24px;
  }

  .job-duties {
    font-size: 18px;
    margin: 24px 0px 0px 24px;
  }

  .exp-button {
    width: 238px;
  }

  /* about section */

  .about-content {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  .about-content div {
    padding: 0;
  }

  /* footer section */
  .footer-nav a {
    line-height: 2;
  }
}
